body{
    font-family: 'Capriola', sans-serif;
}
header{
	background-color: #3949AB;
	color: white;

}

header a {
	color: black;
}
.form{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}
.titre{
    font-family: 'Brawler', serif;
    margin-top: 50px;
    margin-left: 100px;
}
#map {
    height: 400px;
    width: 60%;
    margin-left: 400px;
   }
#ns{
    margin-left: 400px;
}

footer{
	position: bottom fixed;
}

footer .col-md-3{
	padding: 0 5;
	background-color: gray;
	color: white;
}

footer a {
	color: white;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Brawler', serif;
}

